<div class="row">
	<div class="col-md">
		<a [routerLink]="[beer._id]"
		   routerLinkActive="active"
		   class="list-group-item clearfix">
			<button class="btn float-left cook mr-2 over"
					[class.over]="mouseOver"
					(mouseover)="mouseOver=true"
					(mouseout)="mouseOver=false"
					*ngIf="(isLoggedIn() | async)"
					(click)="startBrew()">Főzés</button>
			<div class="float-left">
				<h4 class="list-group-item-heading">{{ beer.name }}</h4>
				<p class="list-group-item-text">{{ beer.type }}</p>
			</div>
			<span class="float-right">
				<img [src]="dbUrl+beer.pictureUrl"
					 alt="{{ beer.name }}"
					 class="img-responsive"
					 style="max-height: 50px;">
			</span>
		</a>
	</div>
</div>