<div class="row mb-2">
	<div class="col-md-6">
		<a [routerLink]="['/brew', {brewId:brew.brewId, beerId:brew.beerId}]"
		   class="list-group-item clearfix action finished"
		   [class.action]="brew.actionNeeded"
		   [class.finished]="brew.done">
			<div class="float-left">
				<h4 class="list-group-item-heading">{{ brew.beerName }}</h4>
				<p class="list-group-item-text">{{ brew.beerType }}</p>
			</div>
			<div class="float-right"
				 *ngIf="brew.actionNeeded">
				<b>Új feladatod van!</b>
			</div>
			<div class="float-right"
				 *ngIf="brew.done">
				<b>Kész! :)</b>
			</div>
		</a>
	</div>
</div>