.errorMessage{
	text-align: center;
	margin: 5px;
}
.actions{
	.time{
		padding: 5px;
	}
	.actionButtons{
		padding: 5px;
		.btn:focus {
			outline: none;
			box-shadow: none;
		  }
		  .navbar-text{
			  padding-right: 5px;
		  }
	}
	.actionDescription{
		padding: 5px;
	}
}