<div class="content"
	 [class.colContent]="colContent"
	 *ngIf="!loading">
	<div class="pic">
		<img [src]="dbUrl+beer?.pictureUrl"
			 alt="{{ beer?.name }}"
			 class="img-responsive"
			 style="max-height: 300px;">
	</div>
	<div class="details">
		<div>
			<h1>{{ beer?.name }}</h1>
		</div>
		<div>
			{{ beer?.description }}
		</div>
		<div>
			Típusa: {{ beer?.type }}
		</div>
		<div>
			Hozzávalók: {{ beer?.ingredients }}
		</div>
		<div>
			Elkészítési idő: {{ beer?.timeToCook }} óra
		</div>
	</div>
</div>