form{ 
	display: flex;
	flex-direction: column;
	.form-group{
		display: flex;
		flex-direction: column;
		align-items: left;
		> :not(label){
			width: 25%;
			text-align: left;
		}
		label{
			max-width: 25%;
			text-align: left;
		}
	}
	button{
		align-self: left;
	}
}
.error{
	border-color: red;
}